<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="~{plantillas/plantilla :: head}">
    <title>Acceso Denegado</title>
</head>
<body>
<header th:replace="~{plantillas/plantilla :: header}"></header>

<main class="container text-center p-5">
    <div class="alert alert-warning">
        <h1>Acceso Denegado</h1>
        <p>No tienes permisos para acceder a esta página</p>
        <a th:href="@{/}" class="btn btn-primary">Volver al Inicio</a>
    </div>
</main>


</body>
</html>