<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="~{plantillas/plantilla :: head}">
    <title>Abarrotes el Zorro - Inicio</title>
</head>
<body class="home-page">

<div>
    <br/> <img th:src="@{/image/logo.jpeg}" height="150" width="300"/>
</div>
<div>
    <div>
        <form th:action="@{/login}" method="POST">
            <h1>Abarrotes el Zorro</h1>
            <h2 th:text="${contenido}"></h2>

            <h2>Iniciar Sesión</h2>
            <!-- Mensajes de error y logout dentro del formulario -->
            <div th:if="${param.error}" class="alert alert-danger">
                Usuario o contraseña incorrectos
            </div>
            <div th:if="${param.logout}" class="alert alert-success">
                Has cerrado sesión correctamente
            </div>

            <input type="text" name="username" placeholder="Usuario" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <button type="submit">Ingresar</button>
        </form>
    </div>
</div>
</body>
</html>