<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head th:replace="~{plantillas/plantilla :: head}">
    <title>Abarrotes el Zorro - Inicio</title>
</head>
<body>
<header th:replace="~{plantillas/plantilla :: header}">

</header>

<div class="page-container">
    <div class="image-section">
        <!-- Imagen se establece desde el CSS como fondo -->
    </div>

    <div class="text-section">
        <main>
            <h1>Abarrotes el Zorro</h1>
            <h2 th:text="${contenido}"></h2>

            <div th:if="${param.error}" class="alert alert-danger mt-3">
                Usuario o contraseña incorrectos
            </div>
            <div th:if="${param.logout}" class="alert alert-success mt-3">
                Has cerrado sesión correctamente
            </div>
        </main>
    </div>

    <div class="login-container">
        <h2>Iniciar Sesión</h2>
        <form th:action="@{/login}" method="POST">
            <input type="text" name="username" placeholder="Usuario" required>
            <input type="password" name="password" placeholder="Contraseña" required>
            <button type="submit">Ingresar</button>
        </form>
    </div>
</div>


</body>
</html>