<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{plantillas/plantilla :: head}">
  <meta charset="UTF-8">
  <title>Panel Cajero</title>
</head>
<body>
<h1 th:text="${contenido}">Mensaje por defecto</h1>
<p>Esta es una página protegida para cajeros.</p>
<form th:action="@{/logout}" method="post">
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
  <button type="submit" class="btn btn-danger">
    <i class="fas fa-sign-out-alt"></i> Cerrar sesión
  </button>
</form>
</body>
</html>